html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  max-width: 100vw !important;
  margin-top: 70px;
  height: 200vh;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.5fr 1.5fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "square-1 square-1 square-1 square-2"
    "square-3 square-3 square-3 square-3"
    "square-4 square-4 square-4 square-4"
    "square-4 square-4 square-4 square-4"
    "square-5 square-5 square-5 square-5"
    "square-5 square-5 square-5 square-5";

  max-width: None;
}

.square-1 {
  grid-area: square-1;
  background-color: lightcoral;
  padding: 20px;
}

.square-2 {
  grid-area: square-2;
  background-color: lightyellow;
  padding: 20px;
}

.square-3 {
  grid-area: square-3;
  background-color: lightblue;
  padding: 20px;
}

.square-4 {
  grid-area: square-4;
  background-color: lightseagreen;
  padding: 20px;
}

.square-5 {
  grid-area: square-5;
  background-color: lightgray;
  padding: 20px;
}
