.header {
  background-color: #606060;
  color: white;
  padding: 10px; /* Padding inside the taskbar */
  position: fixed; /* Fixed position at the top */
  top: 0;
  left: 12px; /* 10-pixel margin from the left */
  right: 29px;

  z-index: 1000; /* Ensure it's above other content */
  box-sizing: border-box; /* Include padding in width calculation */
  height: 60px; /* Set the height of the taskbar */
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: flex-end; /* Center content horizontally */
}

.header-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-nav li {
  margin: 0 25px;
}

.header-nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.header-nav a:hover {
  text-decoration: underline;
}
